/*
First mobile design

TABLE OF CONTENTS:

    1. root, universal selector and some html tags

    2. Header, nav, hero section
*/

/*--1. root, universal selector and some html tags--*/
:root{
    --fontOverPass: 'Overpass', sans-serif;
    --fontUbuntu: 'Ubuntu', sans-serif;

    --light-red-CTA-text: hsl(356, 100%, 66%);
    --very-light-red-CTA-hover: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);

    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

    /*Background gradient - Intro/CTA mobile nav:*/
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);

    /*Background gradient - body:*/
    --very-dark-bray-blue-gradient: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);
}

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;

    list-style: none;
}

h1{
    font-size: clamp(1.7rem, 3vw, 4rem);
    font-family: var(--fontOverPass);
    text-align: center;
}

h2{
    width: 90%;
    margin: 0 auto;

    color: var(--very-dark-blue-headings);
    font-family: var(--fontOverPass);
    text-align: center;
}

h3{
    margin: 0 auto;

    font-family: var(--fontOverPass);
}

p{
    width: 80%;
    margin: 0 auto;
    font-size: clamp(1rem, 1.4vw, 1.8rem);
    color: var(--very-dark-grayish-blue-body-copy);
    font-family: var(--fontUbuntu);
    text-align: center;

    line-height: 1.5;
}

li{
    text-align: center;
}

button{
    background: none;
	color: black;
	border: none;
	padding: 0;

    font-size: clamp(1.2rem, 1.35vw, 1.6rem);
    font-family: var(--fontOverPass);
    text-align: center;

    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: clamp(1.1rem, 1.3vw, 1.6rem);
    text-align: center;
    font-family: var(--fontOverPass);
}
/*--1. root, universal selector and some html tags END--*/


/*--2. Header, nav, hero section--*/
header{
    background-image: url('../images/bg-pattern-intro-mobile.svg'), 
                      linear-gradient(150deg, var(--very-light-red-gradient), var(--light-red-gradient));
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 45%;

    border-bottom-left-radius: 20%;
}

.logo-nav-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 1em;
}

.open-close-nav-btn{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em;
}

[data-nav-btn-active = "true"]{
    background-image: url('../images/icon-close.svg');
}

[data-nav-btn-active = "false"]{
    background-image: url('../images/icon-hamburger.svg');
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    background-color: white;
    width: 80%;
    padding: 1.5em 0;
    
    border-radius: 10px;
    box-shadow: 0 1em 2em rgba(0,0,0,.5);
}

[data-nav-active = "true"]{
    display: flex;

    position: absolute;
    top: 11%;
    right: 0;
    left: 0;

    margin: auto auto;

    animation: nav-active 350ms forwards;
}

[data-nav-active = "false"]{
    display: flex;

    position: absolute;
    top: 11%;
    right: 0;
    left: 0;

    margin: auto auto;

    animation: nav-close 350ms forwards;
}

.nav__option>*{
    margin: 0.4em auto;

    color: var(--very-dark-blue-headings);
    font-family: var(--fontOverPass);
}

.nav__option--login{
    margin: 0.4em 0;
}

.nav__link--login{
    transition: all 350ms;
}
.nav__link--login:focus{
    color: var(--very-dark-grayish-blue-body-copy);
}

.nav__option--signup{
    margin: 0.4em 0;
    
    color: #fff;
}

.nav__link--signup{
    display: inline-block;

    padding: 0.75em 2em;
    background-image: linear-gradient(90deg, var(--very-light-red-gradient) 25%, var(--light-red-gradient));

    border-radius: 30px;
}

#divide-line{
    margin: 1em 0;
    padding: 0.5px 0;
    width: 100%;
    background-color: lightgray;
}

.drop-btn{
    transition: all 350ms;
}
.drop-btn:focus{
    color: var(--very-dark-grayish-blue-body-copy);
}

.drop-arrow{
    transform: translateY(100%);
    user-select: none;
}

.drop-arrow2{
    display: none;
}

[data-drop-arrow-active = "true"]{
    transform: translateY(100%);
    animation: drop-arrow-open 350ms forwards;
}
[data-drop-arrow-active = "false"]{
    transform: translateY(100%);
    animation: drop-arrow-close 350ms forwards;
}

.drop-menu{
    display: none;

    background-color: rgb(223, 223, 223);
    width: 60vw;
    padding: 0.5em 0;

    border-radius: 10px;
}

[data-drop-animation = "true"]{
    display: block;
    animation: drop-active 350ms forwards;
}

[data-drop-animation = "false"]{
    display: block;
    animation: drop-close 350ms forwards;
}

.drop-menu__option{
    margin: 0.6em 0;
}

.drop-menu__link{
    color: var(--very-dark-grayish-blue-body-copy);
}


.hero{
    padding: 3em 1em;

    color: #fff;
}

.hero__title{
    margin: 0.5em auto;
    
    font-family: var(--fontOverPass);
}

.hero__description{
    margin: 0.5em auto;

    color: #fff;
    font-family: var(--fontOverPass);
}

.hero__btns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 3em auto;
}

.hero__btn{
    display: inline-block;

    border: 1px solid #fff;
    padding: 0.7em 1em;
    margin: 0.2em auto;

    font-family: var(--fontOverPass);
    color: #fff;
    font-weight: 900;

    transition: all 350ms;

    border-radius: 30px;
}
.hero__btn:focus{
    background-color: #fff;
    color: var(--light-red-gradient);
}
.hero__btn--1{
    background-color: #fff;
    color: var(--light-red-gradient);
}
.hero__btn--1:focus{
    background-color: transparent;
    color: #fff;
}

.content{
    margin: 4em auto;
}

.content__title{
    margin-bottom: 1.5em;
}

.content__img{
    display: block;

    margin: 0 auto;
}

.content__text{
    padding: 0 1.5em;
}

.text__title{
    margin: 1em auto;
}

.content2{
    position: relative;
    margin-top: 2em;
}

.content2__bgimg{
    background-image: url('../images/bg-pattern-circles.svg'),
                      linear-gradient(var(--very-dark-bray-blue-gradient), 60%, var(--very-dark-desaturated-blue-gradient));;
    background-repeat: no-repeat;
    background-position: center bottom;

    padding: 8em 0;

    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;

}

.content2__img{
    display: block;
    margin: 0 auto -11em auto;
}

.content2__text{
    background-position: 0 0;
}
.content2__text>*{
    color: #fff !important;

    margin: 1em auto;
}

footer{
    background-color: var(--very-dark-black-blue-footer-background);

    padding: 3em 1em 1em 1em;

    border-top-right-radius: 5rem;
}
footer>*{
    color: #fff;
}

.section1__logo{
    display: block;
    margin: 0 auto;
}

.section1__items{
    margin: 2em auto;
}

.item__title{
    margin-bottom: 1em;

    text-align: center;
}

.item__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__link{
    display: inline-block;

    margin: 0.2em auto;

    color: #fff;
}
.item__link:focus{
    text-decoration: underline;
}

.section2__p{
    color: #fff;
}

.section2__link{
    color: #ae8d19;
}

/*--------------MEDIA QUERY------------*/
@media screen and (min-width: 1200px) {
    header{
        background-image: url('../images/bg-pattern-intro-desktop.svg'), 
                          linear-gradient(150deg, var(--very-light-red-gradient), var(--light-red-gradient));
        background-repeat: no-repeat;
        background-position-x: 10%;
        background-position-y: 45%;
    
        border-bottom-left-radius: 20%;
    }
    
    .logo-nav-btn-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        width: 100%;
        padding: 1em 3em;
    }
    
    .open-close-nav-btn{
        display: none;
    }
    
    nav{
        display: block;

        position: absolute;
        top: -1.7em;
        left: 10em;

        
        background-color: transparent;
        width: 85%;
        
        border-radius: 0;
        box-shadow: none;
    }

    .nav__options{
        display: flex;
        align-items: center;
    }

    .nav__option{
        margin-left: 2em;
    }

    .nav__option>*{
        color: #fff;
    }

    .login-signup-container{
        display: flex;
        align-items: center;

        margin-left: auto;
    }
    
    .nav__link--login{
        color: rgb(216, 216, 216);
        font-weight: 900;

        transition: all 350ms;
    }
    .nav__link--login:hover{
        color: #fff;
    }
    
    .nav__option--signup{
        color: #fff;
    }
    
    .nav__link--signup{
        display: inline-block;
    
        padding: 0.75em 2em;
        background-image: none;
        background-color: #fff;

        color: var(--light-red-gradient);
        font-weight: 900;

        transition: all 350ms;
    
        border-radius: 30px;
    }
    .nav__link--signup:hover{
        background: var(--very-light-red-CTA-hover);
        color: #fff;
    }
    
    #divide-line{
        display: none;
    }
    
    .drop-btn{
        color: rgb(216, 216, 216);
        font-weight: 900;

        transition: all 350ms;
    }
    .drop-btn:focus{
        color: rgb(216, 216, 216);
    }
    .drop-btn:hover{
        color: #fff;
    }
    .drop-btn:active{
        color: #fff;
    }

    .drop-arrow{
        user-select: none;
    }

    .drop-arrow1{
        display: none;
    }
    
    .drop-arrow2{
        display: inline-block;

        margin-left: -0.3em;
    }
    
    .drop-menu{
        display: none;
    
        background-color: #fff;
        width: auto;
        padding: 2em 2em 2em 1em;
    
        box-shadow: 0 0.5em 0.5em rgba(0,0,0,.5);
        border-radius: 10px;
    }
    
    [data-drop-animation = "true"]{
        display: block;
        position: absolute;

        animation: drop-active 350ms forwards;
    }
    
    [data-drop-animation = "false"]{
        display: block;
        position: absolute;

        animation: drop-close 350ms forwards;
    }
    
    .drop-menu__option{
        margin: 0.6em 0;
        text-align: left;
    }
    
    .drop-menu__link{
        color: var(--very-dark-grayish-blue-body-copy);
    }
    
    
    .hero{
        padding: 3em 1em;
    
        color: #fff;
    }
    
    .hero__title{
        margin: 0.5em auto;
        
        font-family: var(--fontOverPass);
    }
    
    .hero__description{
        margin: 0.5em auto;
    
        color: #fff;
        font-family: var(--fontOverPass);
    }
    
    .hero__btns{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        margin: 3em auto;
    }
    
    .hero__btn{
        display: inline-block;
    
        border: 1px solid #fff;
        padding: 0.7em 1em;
        margin: 0.2em auto;
    
        font-family: var(--fontOverPass);
        color: #fff;
        font-weight: 900;
    
        transition: all 350ms;
    
        border-radius: 30px;
    }
    .hero__btn:hover{
        background-image: linear-gradient(90deg, var(--very-light-red-gradient) 25%, var(--light-red-gradient));
        border: 1px solid var(--very-light-red-gradient);
        color: #fff;
    }
    
    .hero__btn--1{
        background-color: #fff;
        color: var(--light-red-gradient);
    }
    .hero__btn--1:hover{
        background: var(--very-light-red-CTA-hover);
        border: 1px solid var(--very-light-red-gradient);
        color: #fff;
    }
    
    .content{
        margin: 4em auto;
    }
    
    .content__title{
        margin-bottom: 1.5em;
    }
    
    .content__img{
        display: block;
    
        margin: 0 auto;
    }
    
    .content__text{
        padding: 0 1.5em;
    }
    
    .text__title{
        margin: 1em auto;
    }
    
    .content2{
        position: relative;
        margin-top: 2em;
    }
    
    .content2__bgimg{
        background-image: url('../images/bg-pattern-circles.svg'),
                          linear-gradient(var(--very-dark-bray-blue-gradient), 60%, var(--very-dark-desaturated-blue-gradient));;
        background-repeat: no-repeat;
        background-position: center bottom;
    
        padding: 8em 0;
    
        border-bottom-left-radius: 15%;
        border-top-right-radius: 15%;
    
    }
    
    .content2__img{
        display: block;
        margin: 0 auto -11em auto;
    }
    
    .content2__text{
        background-position: 0 0;
    }
    .content2__text>*{
        color: #fff !important;
    
        margin: 1em auto;
    }
    
    footer{
        background-color: var(--very-dark-black-blue-footer-background);
    
        padding: 3em 1em 1em 1em;
    
        border-top-right-radius: 5rem;
    }
    footer>*{
        color: #fff;
    }
    
    .section1__logo{
        display: block;
        margin: 0 auto;
    }
    
    .section1__items{
        margin: 2em auto;
    }
    
    .item__title{
        margin-bottom: 1em;
    
        text-align: center;
    }
    
    .item__links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .item__link{
        display: inline-block;
    
        margin: 0.2em auto;
    
        color: #fff;
    }
    .item__link:focus{
        text-decoration: underline;
    }
    
    .section2__p{
        color: #fff;
    }
    
    .section2__link{
        color: #ae8d19;
    }
}
/*--------------MEDIA QUERY END------------*/


@keyframes nav-active{
    from{
        transform: translateY(-10%);
        opacity: 0;
    }
    to{
        transform: translateY(auto);
        opacity: 1;
    }
}

@keyframes nav-close{
    from{
        transform: translateY(auto);
        opacity: 1;
    }
    to{
        transform: translateY(-10%);
        opacity: 0;  
    }
}

@keyframes drop-active{
    from{
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes drop-close{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-10%);
    }
}

@keyframes drop-arrow-open{
    from{
        transform: translateY(50%);
    }
    to{
        transform: rotate(-180deg) translateY(-50%);
    }
}

@keyframes drop-arrow-close{
    from{
        transform: rotate(-180deg) translateY(-50%);
    }
    to{
        transform: rotate(0deg) translateY(50%);
    }
}