/*
First mobile design

TABLE OF CONTENTS:

    1. root, universal selector and some html tags

    2. Header, nav, hero section
*/

/*--1. root, universal selector and some html tags--*/
:root{
    --fontOverPass: 'Overpass', sans-serif;
    --fontUbuntu: 'Ubuntu', sans-serif;

    --light-red-CTA-text: hsl(356, 100%, 66%);
    --very-light-red-CTA-hover: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);

    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

    /*Background gradient - Intro/CTA mobile nav:*/
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);

    /*Background gradient - body:*/
    --very-bark-bray-blue-gradient: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);
}

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;

    list-style: none;
}

button{
    background: none;
	color: black;
	border: none;
	padding: 0;
	cursor: pointer;
}

a{
    text-decoration: none;
}

hr{
    width: 100%;
}
/*--1. root, universal selector and some html tags END--*/


/*--2. Header, nav, hero section--*/
header{
    background-image: url('../images/bg-pattern-intro-mobile.svg'), 
                      linear-gradient(150deg, var(--very-light-red-gradient), var(--light-red-gradient));
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo-nav-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    background-image:  linear-gradient(150deg, var(--very-light-red-gradient), var(--light-red-gradient));
    width: 100%;

}
.open-close-nav-btn{
    display: inline-block;
    background-image: url('../images/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    background-color: white;
    width: 80%;
    padding: 1.5em 0;
    
    border-radius: 10px;
    box-shadow: 0 1em 2em rgba(0,0,0,.5);
}

nav>*{
    text-align: center;
}

[data-nav-active]{
    display: flex;

    position: fixed;
    top: 10%;
    right: 0;
    left: 0;

    margin: auto auto;

    animation: nav-active 350ms forwards;
}

[data-nav-close]{
    display: flex;

    position: fixed;
    top: 10%;
    right: 0;
    left: 0;

    margin: auto auto;

    animation: nav-close 350ms forwards;
}

.nav__option>*{
    margin: 0.4em 0;

    color: var(--very-dark-blue-headings);
    font-family: var(--fontOverPass);
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}

.nav__option--login{
    margin: 0.4em 0;
}

.nav__option--signup{
    margin: 0.4em 0;
}

.nav__link--signup{
    display: inline-block;

    padding: 0.75em 2em;
    background-image: linear-gradient(90deg, var(--very-light-red-gradient) 25%, var(--light-red-gradient));

    border-radius: 30px;
}

#divide-line{
    margin: 1em 0;
    padding: 0.5px 0;
    width: 100%;
    background-color: lightgray;
}

.drop-btn{
}

.drop-btn::after{
    content: url('../images/icon-arrow-dark.svg');
    margin-left: 0.2em;
}

.drop-menu{
    display: none;

    background-color: rgb(223, 223, 223);
    width: 60vw;
    padding: 0.5em 0;

    border-radius: 10px;
}

.drop-menu__option{
    margin: 0.6em 0;
}

.drop-menu__link{
    font-size: clamp(1.1rem, 1.3vw, 1.6rem);
    color: var(--very-dark-grayish-blue-body-copy);
}


@keyframes nav-active{
    from{
        transform: translateY(-10%);
        opacity: 0;
    }
    to{
        transform: translateY(auto);
        opacity: 1;
    }
}

@keyframes nav-close{
    from{
        transform: translateY(auto);
        opacity: 1;
    }
    to{
        transform: translateY(-10%);
        opacity: 0;  
    }
}